.align{
  float: right;
}

.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}

.search-hero {

  width: 500px;
  padding-bottom: 50px;

}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}
.form-control::placeholder  {
  font-family: FontAwesome;
}
h3{
  margin-top: -10vh;

}
input{
  margin-left: -2em;
}
label{
  display: inline;
}
